


.img-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-row-gap: 10px;
  justify-content: center;
}

.images{
    display: flex;
    margin: 0px;
    border-radius: 20px;
    width:  200px;
    height: 200px;
}
.images:hover{
       box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.591);
}

.photo-link{
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.outer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.red{
    border: 2px solid rgb(255, 0, 0);
}

.h2{

color: lightgray;
padding-left: 20px;
font-style: italic;
font-size: 15px;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    padding-right: 10px;
}

.current-page{
    font-size: 20px;
    padding-bottom: 15px;
    color: lightgray;
    text-decoration: underline;
    cursor: pointer;
}