
.container{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
}


.single-image{
    max-width: 600px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    border-radius: 10px;
}

.title{
    color:lightgray;
    padding-left: 20px;
}

.go-back{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    margin-left: 10px;
    color: lightgray;
}

button{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    /* color: black; */
    font-size: bolder;
    font-size: 15px;
    
}
.add-button{
margin-left: 15px;
color: white;
}
.delete-button{

}
.button-container{
    margin-top: 10px;
    display: flex;
    margin-left: 32px;
    position: absolute;
    color: white;
}

.comment-container{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 10px;
  color: white;
  justify-content: center;
  align-items: flex-start;

}
.comments{
    color: white;
    font-size: 20px;
    
}

#add-button{
  font-weight: bold;
  color: lightgray;
}

#delete-button{
    font-weight: bold;
    color: lightgray;
}

.comment-delete{
    color: lightgray;
}

