body{
background: url("../src/images/wallhaven-lmr7dy.jpg");

background-position: stretch;

background-repeat: no-repeat;
display: flex;
background-size: cover;
background-attachment: fixed;

padding: 0;
margin:0;


background-color: lightslategray;
}
.video{
    position: fixed;
    padding-left: 35px;
}

.nav{
 
}

.main-container{
padding-top: 25px;
padding-left: 10px;
color: lightgray;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
position:fixed;
}

.welcome{
    padding-left: 12px;
   
}
