body{
background: url("../src/images/wallhaven-lmr7dy.jpg");

background-position: stretch;

background-repeat: no-repeat;
/* display: flex; */
background-size: cover;
background-attachment: fixed;

padding: 0;
margin:0;


background-color: lightslategray;
}


.video{
    border: 5px outset rgb(167, 202, 255, 0.5);
    border-radius: 4px;
}

.main-container{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    padding-top: 25px;
    padding-left: 10px;
    color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcome{
    padding-left: 12px;
    font-size: 22px;
}
