body{
background: url("../src/images/wallhaven-lmr7dy.jpg");

background-position: stretch;

background-repeat: no-repeat;
display: flex;
background-size: cover;
background-attachment: fixed;

padding: 0;
margin:0;


background-color: lightslategray;
}