.form{
    color: rgb(244, 204, 204);
    

}



.form-button{
    /* display: flex; */
    /* margin-left: 3px; */
    color: white;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}