.nav-container {
 font: bolder;
color:white;
padding: 3px 0 0 10px;
text-decoration: none;
display: flex;
flex-direction: row;
/* cursor: pointer; */

}

#demo{
    cursor: pointer;
}

#home:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
    text-decoration:underline;
}

#discover:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
    text-decoration:underline;
}

#album:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
    text-decoration:underline;
}

#logout:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
    text-decoration:underline;
}

#login:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
    text-decoration:underline;
}

#signup:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
    text-decoration:underline;
}

#demo:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
    text-decoration:underline;
}